.site-topbar {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}
.site-topbar a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.separator {
  margin: 0 0.3em;
  color: #424242;
  font-family: sans-serif;
}
.topbar-cart {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  transition: all 0.2s;
  font-size: 12px;
}
.cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
.iconfont-cart {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: -4px;
}
.iconfont-cart-full {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: -4px;
  display: none !important;
}

.topbar-info {
  position: relative;
  float: right;
  height: 40px;
  line-height: 40px;
}
.site-topbar a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.link {
  float: left;
  padding: 0 5px;
  text-align: center;
}
.sep {
  margin: 0;
  float: left;
  color: #424242;
  font-family: sans-serif;
}
.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
}
.container {
  position: relative;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.header-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}
.logo {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
}
.header-nav {
  float: left;
  width: 850px;
}
.nav-list {
  position: relative;
  z-index: 10;
  float: left;
  width: 1100px;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  list-style-type: none;
  font-size: 16px;
}
.nav-item {
  float: left;
}
.nav-item a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
  transition: color 0.2s;
}
.header-search {
  float: right;
  width: 295px;
  height: 50px;
  position: relative;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
}

.header-search input {
  width: 245px;
  height: 47px;
}
.header-search button {
  width: 50px;
  height: 50px;
  position: absolute;
}
.search_nav {
  position: absolute;
  top: 16px;
}
.header-search a {
  padding: 0 10px;
  font-size: 15px;
}
.xm-product-box {
  position: relative;
  z-index: 4;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.nav-bar {
  position: relative;
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.nav-bar h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.left {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
}
.separator {
  margin: 0 0.5em;
  color: #424242;
}
.left a {
  color: #616161;
}
.right {
  float: right;
  margin: 17px 0 0 0;
}
.right a {
  font-size: 14px;
  color: #616161;
}
.right span {
  margin: 0 0.5em;
  color: #e0e0e0;
}
.product-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 12px;
}
.product-con {
  -webkit-box-flex: 1;
  flex: 1;
  margin-left: 20px;
}

.img-left {
  width: 606px;
  position: relative;
}
.product-imglist {
  position: relative;
}
.img-box {
  position: absolute;
  top: 0;
}
.product-imglist img {
  width: 560px;
  height: 560px;
}
.product-con h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.sale-desc {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
  font-size: 14px;
}
.company-info {
  color: #ff6700;
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 14px;
}
.price-info {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}
.price-info span {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}
.price-info del {
  font-size: 14px;
  margin-left: 5px;
  color: #b0b0b0;
}
.line {
  margin-top: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.activity-box {
  padding: 10px 0 5px;
  border-bottom: 1px solid #e0e0e0;
}
.flow-box {
  margin-bottom: 5px;
}
.flow-tag {
  display: inline-block;
  width: 80px;
  padding: 2px 0;
  text-align: center;
  background: #ff6700;
  color: #fff;
  font-size: 14px;
}
.flow-name {
  display: inline-block;
  width: 430px;
  line-height: 26px;
  margin-left: 5px;
  font-size: 14px;
}
.address-box {
  margin: 20px 0;
}
.product-address {
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
.iconfont {
  position: absolute;
  left: 20px;
  top: 26px;
  font-size: 20px;
  color: #999;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.address-info {
  display: inline-block;
}
.product-address span {
  display: inline;
  margin-right: 14px;
  font-size: 14px;
}
.edit {
  display: inline-block;
  color: #ff6700;
  margin: 0;
  font-size: 14px;
}
.info {
  color: #b0b0b0;
}
.desc span {
  color: #ff6700;
  margin: 0;
  display: inline;
  margin-right: 14px;
}
.buy-box-child {
  margin-bottom: 30px;
  position: relative;
}

.title {
  font-size: 18px;
}
.buy-option li {
  margin-right: 12px;
  margin-top: 10px;
  line-height: 42px;
  height: 42px;
  position: relative;
  border: 1px solid #e0e0e0;
  float: left;
  width: 292px;
  font-size: 16px;
  text-align: center;
  display: list-item;
}
.active {
  z-index: 999;
  border-color: #ff6700 !important;
}
.buy-option li:nth-child(2n) {
  margin-right: 0;
}
.service-item-box {
  margin-bottom: 30px;
}
.title {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1;
}
.title a {
  color: #ff6700;
  font-size: 14px;
  float: right;
  line-height: 18px;
}
.service-item-box ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
.service-item-box li {
  border: 1px solid #e0e0e0;
  left: 0;
  top: 0;
  margin-top: -1px;
  background: #fff;
  cursor: pointer;
  padding: 30px 0;
  position: relative;
  display: flex;
}
.service-item-box li .icon-checkbox {
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-left: 30px;
  float: left;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}
.service-item-box li .icon-checkbox em {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #b0b0b0;
  font-style: normal;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
  margin-top: -4px;
}
.service-item-box li img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 10px;
  float: left;
}
.service-item-box .box {
  -webkit-box-flex: 1;
  flex: 1;
}
.service-item-box li h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #333;
}
.service-item-box li h3 em {
  font-style: normal;
  font-size: 14px;
  background: #ff6700;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 20px;
  color: #fff;
  margin-left: 2px;
}
.desc {
  font-size: 14px;
  height: 18px;
  color: #b0b0b0;
  width: 286px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.agreement-box {
  margin-top: 5px;
  font-size: 14px;
}
.service-item-box li .agreement-box .icon-checkbox {
  float: none;
  margin: 0;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 2px;
  display: inline-block;
}
.service-item-box li .agreement-box .icon-checkbox em {
  margin-top: 0;
  vertical-align: inherit;
  border-radius: 2px;
}
.service-item-box li .agreement-box a {
  color: #ff6700;
  margin: 0 2px;
  display: inline-block;
}
.service-item-box li .agreement-box a span {
  margin: 0 2px;
  display: inline-block;
}
.service-item-box li .price {
  position: absolute;
  right: 20px;
  bottom: 28px;
  color: #757575;
  font-size: 14px;
}
.selected-list {
  background: #f9f9fa;
  padding: 30px;
  margin-bottom: 30px;
}
.selected-list ul li:first-child {
  margin-top: 0;
}
.selected-list ul li {
  list-style: none;
  line-height: 30px;
  color: #616161;
}
.selected-list ul li span {
  float: right;
}
.total-price {
  color: #ff6700;
  font-size: 24px;
  padding-top: 20px;
}
.btn-box {
  margin: 10px 0 20px 0;
}
.sale-btn {
  display: inline-block;
  margin-right: 10px;
}
.btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff;
}
.sale-btn .btn {
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
}
.btn {
  display: inline-block;
  border: 1px solid #b0b0b0;
  text-align: center;
  cursor: pointer;
}
.favorite-btn {
  display: inline-block;
  vertical-align: top;
}
.btn-gray {
  background: #b0b0b0;
  color: #fff;
}
.btn-like {
  display: block;
  width: 140px;
  height: 52px;
  line-height: 52px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.btn-like i {
  font-size: 22px;
  line-height: 23px;
  vertical-align: -4px;
  margin-right: 5px;
}
.after-sale-info span {
  display: inline-block;
}
.after-sale-info a {
  display: inline-block;
  margin-right: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  cursor: default;
  white-space: nowrap;
  color: #b0b0b0;
}
.after-sale-info a em {
  font-style: normal;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  font-size: 16px;
}
.magic {
  font-family: iconfont !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.product-detail {
  padding-bottom: 50px;
}
.page-main {
  background: #f5f5f5;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.product-detail .detail-item .title h3 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}
.product-detail .detail-item .img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.product-detail .detail-item .img-box img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  height: 100%;
}
/* 底部模块 */
.set-footer {
  float: left;
  width: 100%;
}
.container {
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
.footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.list-service {
  margin: 0;
  padding: 0;
}
.list-service li {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.list-service li:first-child {
  border: none;
}
.list-service a {
  color: #616161;
}
.iconfont-tool {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -4px;
}
.footer-links {
  padding: 40px 0;
}
.col-links {
  float: left;
  width: 160px;
  margin: 0;
}
.col-links dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
.col-links dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.col-links a {
  color: #757575;
}
.col-contact {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
.tellphone {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.col-contact a {
  color: #ff6700;
  width: 118px;
  line-height: 28px;
  display: inline-block;
  border: 1px solid #b0b0b0;
}
.col-follow {
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
.site-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
.into-text {
  color: #b0b0b0;
  padding-left: 67px;
}
.sites {
  margin: 0;
  line-height: 18px;
}
.sites a {
  color: #757575;
}
.sep {
  margin: 0;
  font-family: sans-serif;
}
.sites-1 a {
  color: #b0b0b0;
}
.info-links {
  height: 28px;
  margin: 4px 0 15px;
  padding-left: 67px;
}
.info-links a {
  display: inline-block;
}
.info-links img {
  width: auto;
  height: 28px;
  margin-left: 0;
}
.slogan {
  margin: 30px auto 0;
  height: 20px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png)
    no-repeat center 0;
  text-indent: -9999em;
}
.note-pro-mi:hover {
  /* 盒子阴影 */
  box-shadow: 4px 20px 40px 5px rgba(0, 0, 0, 0.1);
  /* 盒子向上移动效果，改变上外边距 */
  margin-top: 8px;
}
