.site-topbar {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}
.site-topbar a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.separator {
  margin: 0 0.3em;
  color: #424242;
  font-family: sans-serif;
}
.topbar-cart {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  transition: all 0.2s;
  font-size: 12px;
}
.cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
.iconfont-cart {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: -4px;
}
.iconfont-cart-full {
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: -4px;
  display: none !important;
}
/* .cart-menu {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 31;
  width: 316px;
  height: 0;
  color: #424242;
  background: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
  overflow: hidden;
  transition: height 0.3s;
} */
.topbar-info {
  position: relative;
  float: right;
  height: 40px;
  line-height: 40px;
}
.site-topbar a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.link {
  float: left;
  padding: 0 5px;
  text-align: center;
}
.sep {
  margin: 0;
  float: left;
  color: #424242;
  font-family: sans-serif;
}
.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
}
.container {
  position: relative;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.header-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}
.logo {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
}
.header-nav {
  float: left;
  width: 850px;
}
.nav-list {
  position: relative;
  z-index: 10;
  float: left;
  width: 1100px;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  list-style-type: none;
  font-size: 16px;
}
/* .nav-category {
  position: relative;
  float: left;
  width: 127px;
  padding-right: 15px;
  font-size: 16px;
}
.link-category {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333;
} */
.nav-item {
  float: left;
}
.nav-item a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
  transition: color 0.2s;
}
.header-search {
  float: right;
  width: 295px;
  height: 50px;
  position: relative;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
}

.header-search input {
  width: 245px;
  height: 47px;
}
.header-search button {
  width: 50px;
  height: 50px;
  position: absolute;
}
.search_nav {
  position: absolute;
  top: 16px;
}
.header-search a {
  padding: 0 10px;
  font-size: 15px;
}
.xm-product-box {
  position: relative;
  z-index: 4;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.nav-bar {
  position: relative;
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161;
}
.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.nav-bar h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.left {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
}
.separator {
  margin: 0 0.5em;
  color: #424242;
}
.left a {
  color: #616161;
}
.right {
  float: right;
  margin: 17px 0 0 0;
}
.right a {
  font-size: 14px;
  color: #616161;
}
.right span {
  margin: 0 0.5em;
  color: #e0e0e0;
}
.product-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 12px;
  /* width: 1226px;
  margin-right: auto;
  margin-left: auto; */
}
/* .container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}
.container:after,
.container:before {
  content: " ";
  display: table;
} */
.product-con {
  -webkit-box-flex: 1;
  flex: 1;
  margin-left: 20px;
}

.img-left {
  width: 606px;
  position: relative;
}
.product-imglist {
  position: relative;
}
.img-box {
  position: absolute;
  top: 0;
}
.product-imglist img {
  width: 560px;
  height: 560px;
}
.product-con h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
.sale-desc {
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  line-height: 1.5;
  font-size: 14px;
}
.company-info {
  color: #ff6700;
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 14px;
}
.price-info {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}
.price-info span {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  padding: 12px 0 10px;
}
.price-info del {
  font-size: 14px;
  margin-left: 5px;
  color: #b0b0b0;
}
.line {
  margin-top: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.activity-box {
  padding: 10px 0 5px;
  border-bottom: 1px solid #e0e0e0;
}
.flow-box {
  margin-bottom: 5px;
}
.flow-tag {
  display: inline-block;
  width: 80px;
  padding: 2px 0;
  text-align: center;
  background: #ff6700;
  color: #fff;
  font-size: 14px;
}
.flow-name {
  display: inline-block;
  width: 430px;
  line-height: 26px;
  margin-left: 5px;
  font-size: 14px;
}
.address-box {
  margin: 20px 0;
}
.product-address {
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
.iconfont {
  position: absolute;
  left: 20px;
  top: 26px;
  font-size: 20px;
  color: #999;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.address-info {
  display: inline-block;
}
.product-address span {
  display: inline;
  margin-right: 14px;
  font-size: 14px;
}
.edit {
  display: inline-block;
  color: #ff6700;
  margin: 0;
  font-size: 14px;
}
.info {
  color: #b0b0b0;
}
.desc span {
  color: #ff6700;
  margin: 0;
  display: inline;
  margin-right: 14px;
}
.buy-box-child {
  margin-bottom: 30px;
  position: relative;
}

.title {
  font-size: 18px;
}
.buy-option li {
  margin-right: 12px;
  margin-top: 10px;
  line-height: 42px;
  height: 42px;
  position: relative;
  border: 1px solid #e0e0e0;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  float: left;
  width: 292px;
  font-size: 16px;
  text-align: center;
  display: list-item;
}

.buy-option li:first-child {
  z-index: 3;
  border-color: #ff6700;
}
.buy-option li:nth-child(2n) {
  margin-right: 0;
}
